<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.myosp.mapper.BoardMapper">
	<resultMap type="org.myosp.domain.BoardDTO" id="boardDTO">
		<id property="board_id" column="board_id" />
		<result property="writer" column="writer"/>
		<result property="writeDate" column="writeDate"/>
		<result property="views" column="views"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="good" column="good"/>
		<result property="local" column="local"/>
		<result property="sources" column="sources"/>
		<result property="MemberId" column="MemberId" />
	</resultMap>
	<select id="readAll" parameterType="Map" resultMap="boardDTO">
		<![CDATA[

				SELECT 
					/*+ INDEX_DESC(board pk_board)*/ * FROM board 
				WHERE 
					local like '%' ||  #{local} || '%'
				AND
					UPPER(title) like '%' || UPPER(#{search}) || '%'
				ORDER BY board_id desc
			
			
			]]>
	</select>
	
	<select id="readOne" parameterType="int" resultMap = "boardDTO">
		SELECT * FROM board where board_id = #{board_id}
	</select>
	
	<update id="addView" parameterType="org.myosp.domain.BoardDTO">
		update board set views=(#{views} + 1) where board_id = #{board_id}
	
	</update>
	
	
	<resultMap type="org.myosp.domain.AreaDTO" id="areaDTO">
		<result property="koreanName" column="koreanName" />
		<result property="englishName" column="englishName" />
		<result property="address" column="detail" />
		<result property="intro" column="intro" />
		<result property="lat" column="lat" />
		<result property="lng" column="lng" />
	</resultMap>
	
	<select id="getAreaList" resultMap="areaDTO">
	select * from areaList
	
	</select>
	
	<resultMap type="org.myosp.domain.LikeDTO" id="likeDTO">
		<id property="Board_id" column="board_id" />
		<result property="Member_id" column="member_id" />
	</resultMap>
	
	<select id="readLike" resultMap="likeDTO"> 
	select * from heart where board_id = #{board_id}	
	
	</select>
	
	
	<insert id="toGood" parameterType="Map">
		insert into heart (board_id,member_id) values (#{board_id}, #{member_id})
	</insert>
	
	
	<delete id="toBad" parameterType="Map">
		delete from heart where board_id = #{board_id} and member_id = #{member_id}
	</delete>
	
	<update id="UpCount" parameterType="int">
	update board set good = good +1 where board_id = #{board_id}
	</update>
	
	
	<update id="DownCount" parameterType="int">
	update board set good = good -1 where board_id = #{board_id}
	</update>
	
	
	<resultMap type="org.myosp.domain.CommentDTO" id="commentDTO">
		<id property="comment_id" column="comments_id" />
		<result property="board_id" column="board_id" /> 
		<result property="member_id" column="member_id" />
		<result property="userName" column="username" />
		<result property="writeDate" column="writedate" />
		<result property="content" column="comments" />
	</resultMap>
	
	<select id="readComments" parameterType="int" resultMap="commentDTO">
		
		select * from comments where board_id = #{board_id}
	
	</select>
	
	<insert id="enrolComment" parameterType="Map">
		insert into comments (Comments_id,board_id,member_id,username,comments) values (comments_seq.NEXTVAL,#{board_id},#{member_id},#{Username},#{Content})
	</insert>
	
	<update id="Cupdate">
		update comments set comments = #{Con } where comments_id = #{comment_id}
	</update>
	
	<delete id="Cdel">
		delete from comments where comments_id = #{comment_id}
	</delete>
	
	<insert id="posting" parameterType="org.myosp.domain.BoardDTO">
	insert into board (board_id,writer,title,content,local,MemberId) values (board_seq.NEXTVAL,#{writer},#{title},#{content},#{local},#{MemberId})
		<selectKey keyProperty="board_id" resultType="int" order="AFTER">
			select board_seq.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<update id="modify" parameterType="Map">
		update board set title = #{title},content=#{content},local=#{local} where board_id = #{BoardId}
	</update>
	
	
	<delete id="exeDel">
		delete from board where BOARD_ID = #{BoardId}
	</delete>
	
	<insert id="addFile" parameterType="org.myosp.domain.BoardFileDTO">
		insert into FileBoard (uuid,writeDate,originalFileName,board_id) values (#{uuid},#{date},#{fileOriginalName},#{Bno})
	</insert>
	
	<resultMap type="org.myosp.domain.BoardFileDTO" id="FileDTO">
		<id property="bno" column="board_id"/>
		<result property="uuid" column="uuid" />
		<result property="date" column="writeDate" />
		<result property="fileOriginalName" column="originalfilename" />
	</resultMap>
	
	<select id="readFiles" resultMap="FileDTO">
		select * from FileBoard where board_id = #{bno}
	</select>
	
	<delete id="deleteFile">
		delete from FileBoard where board_id = #{bno} AND uuid = #{uuid}
	
	</delete>
</mapper>