body {
	overflow-x: hidden;
	margin: 0px;
}

#head {
	background: white;
}

#menu a {
	color: black;
}

#content {
	position: relative;
	top: 80px;
	height: auto;
	min-height: 100%;
	padding-bottom: 100px;
	width: 100vw;
}

#content h1 {
	/* position : relative; */
	width: 140px;
	/* top : 70px; */
	margin: 0px auto 30px;
	/* padding-bottom: 30px; */
}

#content #bar1 {
	/* position : relative; */
	/* top : 100px; */
	margin: 0 auto;
	background: black;
	height: 10px;
	width: 120px;
	border-radius: 15px;
}

#content #search {
	/* position : relative; */
	/* top : 146px; */
	margin: 46px auto 81px;
	height: 40px;
	/* padding: 46px 0px 81px; */
	width: 830px;
}

#content #search #searchInput {
	position: relative;
	top: -1px;
	left: 5px;
	height: 40px;
	width: 750px;
	border-radius: 20px 0px 0px 20px/20px 0px 0px 20px;
	margin: 0px;
	padding: 0px;
	font-size: 17px;
	text-align: center;
	border: solid 1px black;
}

#content #search #searchInput:focus {
	border: solid 1px black;
}

#content #search #doSearch {
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -1px;
	left: -1px;
	border: black;
	border-radius: 0px 20px 20px 0px/0px 20px 20px 0px;
	height: 41px;
	width: 69px;
	background-color: black;
	color: white;
}

#content #filter {
	position: relative;
	/* top : 227px; */
	width: 800px;
	margin: 0 auto;
	z-index: 2;
	height: 65px;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	padding: 0px;
}

#filter-menus {
	width: 800px;
	margin: 0px;
	list-style: none;
	padding: 0;
	text-align: center;
	font-size: 0;
	display: table;
}

#filter-menus>li {
	width: 240px;
	height: 57px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	margin: 0px;
}

#filter-menus>li>a {
	font-size: 17px;
	display: table-cell;
	vertical-align: middle;
	width: 405px;
	height: 65px;
	text-decoration: none;
	color: black;
	margin: 0px;
	padding: 0px;
}

/* #menubar-menus liÃƒÂ«Ã‚Â¥Ã‚Â¼ position: relative ÃƒÂ¬Ã‚Â²Ã‹Å“ÃƒÂ«Ã‚Â¦Ã‚Â¬ÃƒÂ«Ã‚Â¥Ã‚Â¼ ÃƒÂ­Ã¢â‚¬Â¢Ã‹Å“ÃƒÂ«Ã…Â Ã¢â‚¬Â ÃƒÂªÃ‚Â²Ã‚Â½ÃƒÂ¬Ã…Â¡Ã‚Â°ÃƒÂ¬Ã¢â‚¬â€Ã‚Â ÃƒÂ¬Ã¢â‚¬Â¢Ã¢â‚¬Å¾ÃƒÂ«Ã…Â¾Ã‹Å“ hover ÃƒÂ¬Ã†â€™Ã‚ÂÃƒÂ­Ã†â€™Ã…â€œ ÃƒÂ¬Ã‚Â²Ã‹Å“ÃƒÂ«Ã‚Â¦Ã‚Â¬ÃƒÂ«Ã‚Â¥Ã‚Â¼ ÃƒÂ¬Ã‚Â£Ã‚Â¼ÃƒÂ¬Ã¢â‚¬Å¾Ã‚Â ÃƒÂ¬Ã‚Â²Ã‹Å“ÃƒÂ«Ã‚Â¦Ã‚Â¬ ÃƒÂ­Ã¢â‚¬Â¢Ã‚Â  ÃƒÂªÃ‚Â²Ã†â€™. */
#filter-menus>li>div {
	position: absolute;
	background: white;
	color: black;
	left: 0px;
	height: 230px;
	width: 800px;
	top: 70px;
	display: none;
	justify-content: space-around;
	flex-wrap: wrap;
	z-index: 10;
	border-bottom: 1px solid black;
}

#local>a {
	font-size: 15px;
	margin-top: 23px;
	margin-left: 20px;
	margin-right: 20px;
	color: #495057;
}

#sort>a {
	position: relative;
	top: 90px;
	color: #495057;
}

#Board {
	/* position : relative; */
	width: 800px;
	margin: 48px auto;
	/* padding: 48px; */
	/* top : 275px; */
}

#list {
	width: 799px !important;
}