@charset "UTF-8";

body {
	margin: 0px;
	overflow-x: hidden;
}

#ContentWrap {
	position: relative;
	top: 90px;
	width: 100vw;
	padding-bottom: 100px;
	min-height: 100vw;
}

.hide {
	display: none;
}

#search {
	position: relative;
	top: 20px;
	width: 1112px;
	height: 200px;
	margin: 0 auto;
}

#search>p {
	font-size: 32px;
	font-weight: bold;
	/* color: black; */
	margin: 0 auto;
	width: fit-content;
	position: relative;
	top: 20px;
}

#search>input {
	position: relative;
	color: #ced4da;
	top: 55px;
	left: 300px;
	border: none;
	border-radius: 5px;
	width: 510px;
	height: 50px;
	font-size: 23px;
	box-shadow: 1px 1px 10px 1px #ced4da;
	outline: none;
}

#search>input::placeholder {
	font-size: 20px;
	color: #ced4da;
}

#search>img {
	position: relative;
	top: 67px;
	left: 258px;
	width: 35px;
	z-index: 1;
}

#AreaContainer {
	width: 1112px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.Areas {
	width: 250px;
	height: 500px;
	margin: 14px;
	cursor: pointer;
}

.Areas>img {
	object-fit: cover;
	margin: 0 auto;
	width: 250px;
	height: 350px;
	border-radius: 15px;
}

.Areas>img:hover {
	width: 260px;
	height : 360px;
}

.Areas>h2 {
	font-family: Montserrat;
	font-size: 25px;
	font-weight: 500;
	/* font-family: Montserrat,Noto Sans KR,sans-serif; */
}

.Areas>p {
	position: relative;
	/* left: 25px; */
	/* color: #dee2e6; */
	font-weight: 100;
}

#modal {
	display : none;
	position: fixed;
	left: calc(50vw - 497px);
	top: calc(50vh - 256px);
	width: 865px;
	padding: 64px;
	height: 438px;
	background-color: white;
	z-index: 1001;
	border-radius: 19px;
	/* margin: auto; */
}

#modal>img{
	position : absolute;
	object-fit : cover;
	top: 64px;
	height: 400px;
	width: 400px;
	right: 64px;
}

#modal>p{
	font-size : 20px;;
}

#modal>div{/* border: solid 1px black; */width: 450px;height: 200px;max-height: 200px;position: absolute;font-weight: 100;}

#modal>#create{
	position : relative;
	top: 225px;
	background-color : black;
	color : white;
	border : none;
	border-radius : 205px;
	height : 50px;
	width : 100px;
}

#cover {
	display : none;
	position: fixed;
	top: 0px;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	left: 0px;
	background-color: dimgray;
	opacity: 0.2;
}

#close{
	position : absolute;
	top: 25px;
	right: 25px;
	border : none;
	background-color : white;
}


#X:after{
 content : "\00d7";
 font-size: 25pt;
}