@charset "UTF-8";

body{
	overflow-x : hidden;
}

main{
	position : absolute;
	top : 0px;
	left : 0px;
	width : 100vw;
	height : 100vh;
}

#Map{
	position : absolute;
	width: calc(100vw - 500px)!important;
	right : 0px;
	height : 100vh;
	/* z-index: 1; */
}

#Use{
	position : absolute;
	top : 0px;
	left : 0px;
	/* background-color : white; */
	z-index: 10;
	height : 100vh;
	width: 500px;
	font-weight: 600;
	display: flex;
}
#steps{
	height : 100vh;
	width : 100px;
}

#steps>div[id^=step]{
	position : relative;
	top : 50px;
		background-color : white;
	width : 100px;
	height : 100px;
}


#steps>div>a{
	display : block;
	width : 100px;
	height : 36px;
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	justify-content: center;
}

#steps>#next{
	width : 80px;
	height : 60px;
	background-color : black;
	position : relative;
	left : 8px;
	top : calc(100vh - 400px);
	border-radius : 8px;
	display : flex;
	justify-content : center;
	align-items : center;
	color : white;
}
	
.noSel{
	font-size : 0.77rem;
	color: #dee2e6;
}

.select{
	color : #a3cca3;
	font-size : 0.85rem;
}
	

#steps>#step1{

}

#steps>#step2{

}

#steps>#step3{

}

#StepImplOutPut{
	/* position: relative; */
	/* left: 7px; */
	/* top : 0px; */
	/* right : 0px; */
	height : 100vh;
	width: 400px;
	/* overflow : hidden; */
}


#StepImplList{
	/* position : relative; */
	top : 0px;
	left : 0px;
	height : 100vh;
	width: 400px;
}


#StepImplList>div{
	position :relative;
	height : 100%;
	/* width : 100%; */
	overflow: auto;
}



#localName{
	width: 350px;
	margin: 0px;
	font-size: 2.5rem;
	position: relative;
	top: 55px;
	left: 40px;
}

#period{
	position : absolute;
	top: 116px;
	left : 40px;
	width: 350px;
	height : 45px;
	font-size: 1.5rem;
	font-weight : 600;
	font-family : Montserrat,Noto Sans KR,sans-serif;
}

#sumTime{
	position : absolute;
	top : 160px;
	left: 120px;
	color: #00B0FF;
	font-weight : 300;
	font-size: 1.125rem;
}

#TravelTime{
	position : absolute;
	top : 143px;
	left : 40px;
	font-size: 1.125rem;
	font-weight : 200;
}

#ChDate>#notice{
	position : absolute;
	top : 200px;
	left : 40px;
	font-weight : 200;
	width : 100%:
	height : 100px;
	color : #737e8a;
	font-size : 11px;
}


#cover{
	position : fixed;
	top : 0px;
	left : 0px;
	z-index : 100;
	width : 100vw;
	height : 100vh;
	background-color : rgba(0,0,0,0.75);
	
	display : flex;
	justify-content : center;
	align-items : center;
}


#modal{
	width : 660px;
	height : 556px;
	background : white;
	border-radius : 0.5rem;
	padding: 3rem;
	width: 770px;
	min-height: 605px;
	height: auto;
	display : flex;
	flex-wrap : wrap;
	justify-content : center;
	margin: 0px;
}

#tH2{
	position : relative;
	display : flex;
	justify-content: center;
	font-weight : 400;
	margin: 0px;
	height: 45px;
	font-size : 35px;
	padding-top: 1rem;
	width: 100%;
}

#tP{
	position : relative;
	text-decoration : underline;
	margin: 0px;
	height: 20px;
	width: 100%;
	display: flex;
	padding-top : 1rem;
	padding-bottom : 0.5rem;
	justify-content: center;
}
	
#calendar{
	width : 100%;
	height : 440px;
	margin-top : 0.5rem;
	margin-bottom : 0.5rem;
}

#submit{
	width : 100%;
	display : flex;
	justify-content: right;
}

#submit>button{
	border : none;
	box-shadow : 0 2px 8px 0 rgba(31,38,135,.08)!important;
	color : #b6bcc2;
	width  :100px;
	height : 50px;
	border-radius : 8px;
}

.pass{
	background-color : #b4d491;
	color : white !important;
}
	
#calendar{
	width: 100%;
	min-height: 441px;
	display : flex;
	height: auto;
	justify-content: space-around;
}
	
#leftMonth, #rightMonth{
	width: 350px;
	height: auto;
}

.Day{
	height: 125px;
}
	
.Day>.y{
	width : calc(100% - 32px);
	height: 33px;
	display: flex;
	font-weight: 400;
	font-size: 25px;
	justify-content: center;
	align-items: center;
	margin: 16px;
	font-family: monospace;
}

.Day>.d{
	width : 100%;
	height: 40px;
	display: flex;
	font-size: 20px;
	justify-content: space-around;
	position: relative;
}

.Day>.d>div{
	display : flex;
	justify-content : center;
	align-items : center;
	height: 40px;
	width: 40px;
}


#goPrev{
	position : relative;
	top: 40px;
	left: 25px;
	border-bottom : solid 2px;
	border-left : solid 2px;
	border-color : #cccccc;
	width : 15px;
	height : 15px;
	transform: rotate(45deg);
}

#goNext{
	position : relative;
	top: 40px;
	left: 312px;
	border-top: solid 2px black;
	border-right : solid 2px black;
	width : 15px;
	height : 15px;
	transform : rotate(45deg);
}


.date{
	width: 100%;
	height: auto;
	display : flex;
	flex-wrap : wrap;
	justify-content: space-around;
	/* position: relative; */
	top: 30px;
}

.Lweek, .Rweek{
	width : 100%;
	height: 60px;
	display : flex;
}

.DayDiv{
	width: calc(100% / 7 - 2px);
	margin: 1px;
	display : flex;
	justify-content : center;
	align-items : center;
	font-size : 23px;
	font-weight : 200;
}


.Lweek>.sat, .Rweek>.sat{
	color : #006f80;
}

.Lweek>.sun, .Rweek>.sun{
	color : #e74d40;
}


.Sel{
	color : white !important;
	border-radius : 10px;
}

.dirSel{
	background-color : rgb(120,200,120) ;
	font-size : 25px;
	font-weight : 700;
}

.indirSel{
	background-color : #A5D6A0;
}

.SelCore{
}


.AbsNoSel, .RelNoSel{
	color : #cfcccc !important;
}

#calImg{
	
width : 30px;
	
height : 33px;
	
position : relative;
	
top: 7.5px;
	
left: 10px;
}

#TravelDays{
	position : absolute;
	width : 300px;
	top : 250px;
	left : 40px;
	height  : auto;
}

#columns{
	width : 100%;
	height : 30px;
	background-color : #F8F9FA;
	color : #9aa4ab;
	font-weight : 200;
	font-size : 13px;
	display : flex;
}

.text{
	color : ;
	display : flex;
	justify-content : center;
	align-items : center;
}

.day{
	width: 50px;
}
	
.week{
	width: 50px;
}

.stT{
	width: 100px;
}

.fnT{
	width: 100px;
}
.PlanWeekWrap{
	display : flex;
	height: 30px;
	font-size : 15px;
	font-weight : 400;
	align-items: center;
}

.PlanWeekWrap>.day{
	font-weight : 600;
}

.PlanWeekWrap>div{
	display : flex;
	justify-content : center;
	
}

.clockImg{
	width : 15px;
	height : 15px;
	position : relative;
	top : 3px;
	left : 10px;
}

#timeSetCover{
	position : fixed;
	top : 0px;
	left : 0px;
	width : 100vw;
	height : 100vh;
	/* display : none; */
	justify-content : center;
	align-items : center;
	z-index: 11;
	background-color : rgba(0,0,0,0.07);
	display : none;
}
	
	#timeSet{
	position: fixed;
	margin: 0 auto;
	top: 300px;
	background-color  : white;
	border-radius : 5px;
	width : 400px;
	height : 200px;
	justify-content: space-between;
	overflow : hidden;
	z-index: 11;
	left: calc(50% - 200px);
	display : none;
}


#hour{
	width : 35%;
}

#HListTitle, #MListTitle{
	height : 50px;
	display : flex;
	justify-content : center;
	align-items : center;
	font-size : 18px;
}

	
#HList{
	width : 100%;
	display : flex;
	justify-content : center;
	flex-wrap: wrap;
	overflow : auto;
	height : 200px;
}

#HList::-webkit-scrollbar{
	display : none;
}

.HSel{
	display : flex;
	width : 60%;
	height : calc(200px/3);
	border-bottom : solid 1px black;
	border-top : solid 1px black;
	justify-content : center;
	align-items : center;
	font-size : 20px;
	
}

#min{
	width : 35%;	
}

#MList{
	width : 100%;
	display : flex;
	justify-content : center;
	flex-wrap : wrap;
	height : 200px;
	overflow : auto;
}

#MList::-webkit-scrollbar{
	display : none;
}
	
.MSel{
	display : flex;
	width : 60%;
	height : calc(200px/3);
	justify-content : center;
	align-items : center;
	font-size : 20px;
	border-top : solid 1px black;
	border-bottom : solid 1px black;
}

div[class*=timeSetSel]{
	background-color :   #b4d491;
	color : white;
	font-weight : 600;
	font-size : 30px;
}

#apply{
	width : 30%;
	display : flex;
	align-items : center;
}

#apply-btn{
	position : relative;
	right : 13px;
	width : 100%;
	height : 50px;
	background-color : #b4d4B9;
	color : white;
	font-size : 14px;
	display : flex;
	justify-content : center;
	align-items : center;
	border-radius : 8px;
}

#Chcash{
	width: 400px !important;
	/* height : 910px; */
	/* overflow : auto; */
}

#Chcash::-webkit-scrollbar{
	width : 13px;
}

#Chcash::-webkit-scrollbar-thumb{
	width : 5px;
	border-radius : 20px;
	background-color : rgb(200,230,200);
	  background-clip: padding-box;
    border: 3px solid transparent;
}

#Chcash::-webkit-scrollbar-track{
	width : 10px;
	border-radius : 10px;
}

#setting{
	height: 100%;
	justify-content: center;
	flex-wrap: wrap;
}

#hotel{
	height: 110px;
}

#traffic{
	height : 250px;
}
	
.expense{
	position : relative;
	width: 250px;
	top : 50px;
	left : 60px;
}
	
.expense>select{
	position :relative;
	top: 3px;
	left: -55px;
	width : 170px;
	height : 30px;
}

#traffic{
	height: 170px;
}
	
#traffic>.feeNotice{
	top: 10px;
	left: 20px;
}

#traffic>input{
	width : 200px;
}

#food,#activity{
	height : 100px;
}

#addr-search{
	position : relative;
	top: -36px;
	height: 33px;
	width: 50px;
	left: 220px;
	background-color: white;
	border: solid 1px;
	box-shadow: 1px 1px 1px 0.1px rgb(200,200,200);
}
	
.exTitle{
	position : relative;
	top : -5px;
	width: 161px;
}
	
.expense>input{
	height : 30px;
}

.won{
	position: relative;
	top: -30px;
	width: 16px;
	left : 180px;
}

.feeNotice{
	position : relative;
	top: -16px;
	width: 300px;
	left : 20px;
	color : #868e96;
	font-weight : 200;
	font-size : 12px;
}

#SetFinish{
	position : relative;
	top: 175px;
	height : 50px;
	display : flex;
	justify-content : center;
	align-items : center;
}

#SetFinish-btn{
	width : 250px;
	height : 80px;
	background-color: rgb(204,220,188);
	color : white;
	font-size : 18px;
	font-family: math;
	font-weight : 200;
	border-radius : 20px;
	display : flex;
	justify-content : center;
	align-items : center;
}	


#result{
	height: auto;
	display : none;
}

#moneySum{
	height : 100px;
	left: 15px;
	width: 96%;
	font-size : 30px;
	font-weight: 600;
	position : relative;
	display: flex;
	justify-content: left;
	align-items: center;
}

#moneySum>p{
	color : RGB(41, 180, 255);
	font-weight : 200;
	margin-left : 10px;
}

#moneyIndiv{
	position : relative;
	width: 75%;
	left: 20px;
	height: 150px;
}

#moneyIndiv>ul{
	color : rgb(100,100,100);
	font-weight : 200;
}

#Usedetail{
	position : relative;
}

#graph{
	position: relative;
	height : 1000px;
	top: 50px;
}

.DetailExpense{
	position: relative;
	border-bottom : solid 1px black;
	font-size : 15px;
	font-weight : 300;
	left: 30px;
	width: calc(100% - 50px);
	min-height: 30px;
	height : auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

div[id*=DetailTitle]{
	font-size: 1rem;
	width: calc(100% - 18px);
}
.scroll-btn{
	border-bottom: solid 12px rgb(225,225,225);
	border-left: solid 9px white;
	border-right: solid 9px white;
	border-top: solid 9px white;
	/* width: 0px; */
}

.statusDown{
	rotate : 180deg;
}

.ShowDetail{
	height: auto;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 5px;
}

.DetailAver, .DetailHeight, .DetailLow, .TrafficShowDetails{
	position : relative;
	left : 20px;
	height: 25px;
	top : 10px;
	font-size : 0.85rem;
}

#IndivWarn{
	font-weight : 200;
	color : gray;
	position : relative;
	top : 5px;
	left : 20px;
	width: 274px;
}


#detailSet{
	position : relative;
	top : 50px;
	height : auto;
	left: 20px;
	width: calc(100% - 30px);
}

#detailSet-header{
	height : 30px;
	background-color : #F8F9FA;
	font-weight : 200;
	font-size : 13px;
	display : flex;
	color: #9aa4ab;
	width: 360px;
}

#detailSet-Date, #detailSet-Sum{
	display: flex;
    justify-content: center;
    align-items: center;
}

#detailSet-Date{
	width: 95px;
}

#detailSet-Sum{
	width: 250px;
}
	
.DetailSet-scroll-btn{
		border-bottom: solid 12px rgb(225,225,225);
	border-left: solid 9px white;
	border-right: solid 9px white;
	border-top: solid 9px white;
}

#detailSet-rows{
	width : 100%;
}
	
.detailSet-row{
	display: flex;
	height: auto;
	width: 100%;
	flex-wrap: wrap;
}
	
.detailSetDate{
	width: 95px;
	display : flex;
	justify-content : center;
	align-items : center;
}
	
.detailSetSum{
	width: 245px;
	display : flex;
	justify-content : center;
	align-items : center;
}

.detailSet-scroll{
	position : relative;
	top : -8px;
	right : 20px;
	border-bottom: solid 12px rgb(225,225,225);
	border-left: solid 9px white;
	border-right: solid 9px white;
	border-top: solid 9px white;
}

#originSetDetail{
	display : none;
}
.SetDetail{
	padding: 10px;
	position : relative;
	padding-left: 40px;
	height : 100px;
	width: calc(100% - 30px);
	font-weight: 200;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}


#CR-btn{
	position : relative;
	top: 80px;
	width : 100%;
	display : flex;
	justify-content : center;
	flex-wrap : wrap;
	padding-bottom: 40px;
}

#detailSet-complete{
	width : 70%;
	display : flex;
	justify-content : center;
	height : 50px;
	align-items : center;
    background-color: rgb(204,220,188);
	font-weight : 200;
	border-radius : 15px;
	color : white;
	top : 50px;
}


#Reset{
	font-weight : 200;
	font-size : 15px;
	padding-top: 15px;
	padding-left: 25px;
	padding-right: 25px;
	color : #adb5bd;
	text-decoration : underline;
}
#addPlace{
	width: 900px;
	display: flex;
	/* z-index: 10; */
	overflow : hidden !important;
}

#showLeft{
	    background-color: rgb(248,248,248);
	    width: 430px;
	    overflow-y : auto;
	    overflow-x: hidden;
	    height: 100%;
}

#showLeft::-webkit-scrollbar{
	width : 13px;
}

#showLeft::-webkit-scrollbar-thumb{
	width : 5px;
	border-radius : 20px;
	background-color : rgb(200,230,200);
	  background-clip: padding-box;
    border: 3px solid transparent;
}

#showLeft::-webkit-scrollbar-track{
	width : 10px;
	border-radius : 10px;
}


	

#showRight{
	width: 420px;
	/* background-color: black; */
	height: 100%;
	/* color: black; */
}	
	
#addPlace_Title{
	    font-size: 1.2rem;
	    position : relative;
	    top : 50px;
	    left : 10px;
	    width : calc(100% - 50px);
}

#Plperiod{
	position: relative;
	top : 65px;
	left : 30px;
	width : 300px;
	height: 45px;
	font-size: 1rem;
	font-weight: 400;
	font-family : sans-serif;
	color: #AAB1B8;
}

#TravelPlace{
	position : relative;
	width : fit-content;
	top : 60px;
	font-size: 1.25rem;
	left : 30px;
	font-weight: 700;
}

#addPlace-warn{
	position: relative;
	top: 90px;
	left: 35px;
	color: #adb5bd;
	font-size: small;
}

#addPlaceHeader{
	background-color: white;
	/* border  :solid; */
	display : flex;
	width: 350px;
	/* position: relative; */
	/* left: 15px; */
	font-size: 13px;
	font-weight: 200;
	color: #9aa4ab;
	border-bottom: solid 1px black;
	height: 30px;
}

#PLDay{
	width: 100px;
	display : flex;
	align-items: center;
	justify-content : center;
}

#PlaceCount{
	width : 250px;
	display : flex;
	justify-content : center;
	align-items: center;
}

	
#PlanDays{
	border: solid 1.5px black;
	position : relative;
	width: 350px;
	left: 25px;
	top : 100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.addPlaceColumnBody{
	/* border : solid 1px black; */
	/* position : relative; */
	height: auto;
	top : 100px;
	width : 350px;
	left : 26px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.plainInfo{
	display : flex;
	
}

	.PlDayInfo{
		display : flex;;
		justify-content : center;
		align-items : center;
		width : 100px;
	}
	.CountInfo{
		display : flex;
		justify-content : center;
		align-items : center;
		width : 250px;
	}

	.detailInfo{
		width : 300px;
		position : relative;
		left : 50px;
		/* top : 10px; */
		margin-top: 10px;
	}

	.HotelExp, .FoodExp, .ActivityExp{
		height : 30px;
		font-size : 14px;
		font-weight : 300;
	}

	.HotelExp>p, .FoodExp>p, .ActivityExp>p{
		position : relative;
		font-size : 18px;
		font-weight : 400;
		top : -39px;
		left : 55px;
		width: fit-content;
	}

	.addHotel{
		height: 130px;
	}

	.addFood{
		height: 300px;
	}
	
	.addActivityPlace{
		height : auto;
		margin-bottom: 20px;
	}
		
	.addHotelTitle, .addFoodTitle, .addActivityPlaceTitle{
		font-weight : 400;
		font-size : 20px;
	}

	.addHotelBody{
		border : dashed 2px #adb5bd;
		position : relative;
		top : 10px;
		width : 270px;
		left : 10px;
		height: 72px;
		border-radius : 10px;
		background-color: white;
		box-shadow: 0 2px 8px 0 rgba(31,38,135, 0.15);
	}

	.breakfast, .lunch, .dinner{
		border : dashed 2px #adb5bd;
		height: 72px;
		border-radius : 10px;
		width : 270px;
		position : relative;
		left : 10px;
		margin-top : 10px;
		background-color: white;
		box-shadow: 0 2px 8px 0 rgba(31,38,135,0.15);
	}
		
	.breakfast{
		
	}

	.lunch{
		
	}

	.dinner{
		
	}

	.addActivityPlaceBody{
		border : dashed 2px #adb5bd;
		width : 270px;
		position : relative;
		left : 10px;
		border-radius : 10px;
		height: 72px;
		background-color: white;
		box-shadow: 0 2px 8px 0 rgba(31,38,135,0.15);
	}

	.addActivityPlaceBody{
		/* position : relative; */
		/* top : 10px; */
		margin-top: 10px;
	}

#addPlace::-webkit-scrollbar{
	width : 13px;
}

#addPlace::-webkit-scrollbar-thumb{
	width : 5px;
	border-radius : 20px;
	background-color : rgb(200,230,200);
	  background-clip: padding-box;
    border: 3px solid transparent;
}

#addPlace::-webkit-scrollbar-track{
	width : 10px;
	border-radius : 10px;
}

#addPlaceColumns{
	background-color : white;
}

.Plus{
	/* border : solid; */
	position : relative;
	top: 12px;
	margin : 0 auto;
	width : 50px;
	height : 50px;
}

.stripe{
	border: solid 1.8px #ced4da;
	position : absolute;
	left : 24px;
	width: 0px;
	top : 13px;
	height : 20px;
}
		
.rank{
	width : 20px;
	border : solid 1.8px #ced4da;
	position : absolute;
	top : 23px;
	left : 14px;
	
}

.addPlaceScroll{
	border-bottom: solid 12px rgb(225,225,225);
	border-left: solid 9px white;
	border-right: solid 9px white;
	border-top: solid 9px white;
	width : 0px;
	position : relative;
	top: -25px;
	left : 330px;
	height : 0px;
	background-color: #FAFAFA;
}

#addPlaceOrigin{
	display : none;
}

#creMapWrap{
	position : relative;
	top: 130px;
	width : 100%;
	display : flex;
	justify-content : center;
	align-items : center;
}
		
#creMap{
	/* margin-bottom : 50px; */
	width : 70%;
	height : 50px;
	display : flex;
	justify-content : center;
	align-items : center;
	color : white;
	font-weight : 200;
	border-radius : 15px;
	background-color : rgb(204,220,188);
	margin-bottom: 50px !important;
	position: relative;
	left: 5px;
}

#ShowPlaceOrigin{
	display : none;
}


#showList{
	background-color : white;
	height: 100%;
}

.SHC{
	height: 100%;
}
		
.ShowHotel{
	height: 100%;
	width: 100%;
}

.ShowFood{
	height: 100%;
	width: 100%;
}

.ShowActivity{
	height: 100%;
	width: 100%;
}

.ShowHotelTitle{
	position : relative;
	top : 70px;
	font-size : 25px;
	left : 40px;
	width: fit-content;
}
.HotelSearch{
	position : relative;
	top : 100px;
}

.HotelSearch>input{
    position: relative;
    color: black;
    border: none;
    border-radius: 5px;
	height : 40px;
	width : 240px;
	padding-right : 40px;
	left : 40px;
    font-size: 23px;
    box-shadow: 1px 1px 10px 1px #ced4da;
    outline: none;
	
}

.HotelSearch>svg{
	width : 25px;
	position : relative;
	top : 5px;
	
}

.HotelSearchResult{
	/* border : solid; */
	position : relative;
	top : 150px;
	overflow: auto;
	height: calc(100% - 270px);
	width: calc(100% - 70px);
	left: 20px;
}

.ShowFoodTitle{
	position : relative;
	top : 70px;
	font-size : 25px;
	left : 40px;
}
.FoodSearch{
	position : relative;
	top : 100px;
}

.FoodSearch>input{
    position: relative;
    color: black;
    border: none;
    border-radius: 5px;
	height : 40px;
	width : 240px;
	padding-right : 40px;
	left : 40px;
    font-size: 23px;
    box-shadow: 1px 1px 10px 1px #ced4da;
    outline: none;
	
}

.FoodSearch>svg{
	width : 25px;
	position : relative;
	top : 5px;
	
}

.FoodSearchResult{
	/* border : solid; */
	position : relative;
	top : 150px;
	/* height : auto; */
	overflow: auto;
	height: calc(100% - 270px);
	width: calc(100% - 70px);
	left: 20px;
}

.ShowActivityTitle{
	position : relative;
	top : 70px;
	font-size : 25px;
	left : 40px;
}
.ActivitySearch{
	position : relative;
	top : 100px;
}

.ActivitySearch>input{
    position: relative;
    color: black;
    border: none;
    border-radius: 5px;
	height : 40px;
	width : 240px;
	padding-right : 40px;
	left : 40px;
    font-size: 23px;
    box-shadow: 1px 1px 10px 1px #ced4da;
    outline: none;
	
}

.ActivitySearch>svg{
	width : 25px;
	position : relative;
	top : 5px;
	
}

.ActivitySearchResult{
	/* border : solid; */
	position : relative;
	top : 150px;
	/* height : auto; */
	overflow: auto;
	height: calc(100% - 270px);
	width: calc(100% - 70px);
	left: 20px;
}

.ShowPlaceDate{
	position : relative;
	top: 40px;
	left: 275px;
	font-size : 20px;
	width: fit-content;
	/* color: rgb(220,220,220); */
}

#slideToLeft{
	height : 100%;
	left: 685px;
	display : flex;
	justify-content : center;
	align-items : center;
	width : 50px;
}

#slideCircle{
	width : 60px;
	height : 60px;
	border-radius : 100%;
	background-color: rgb(204,220,188);
	position : relative;
	right: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#slideCircle>svg{
	width: 60px;
	height: 60px;
}
.markerbg{
    display: block;
    height: 37px;
    width: 36px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

.marker_1{
	background-position : 0 -10px;
}

.marker_2{
	background-position : 0 -56px;
}

.marker_3{
	background-position : 0 -102px;
}
	
.marker_4{
	background-position : 0 -148px;
}

.marker_5{
	background-position : 0 -194px;		
}
	
.marker_6{
	background-position : 0 -240px;
}
	
.marker_7{
	background-position : 0 -286px;
}

.marker_8{
	background-position : 0 -332px;
}
	
.marker_9{
	background-position : 0 -378px;
}

.marker_10{
	background-position : 0 -424px;
}
	
.marker_11{
	background-position : 0 -470px;
}
	
.marker_12{
	background-position : 0 -516px;
}
	
.marker_13{
	background-position : 0 -562px;
}
	
.marker_14{
	background-position : 0 -608px;
}

.marker_15{
	background-position : 0 -654px;
}

.jibun{
	padding-left: 30px;
	background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
	font-size: 12px;
	font-family: 'Malgun Gothic',dotum,'돋움',sans-serif;
	color: #8a8a8a;
	height: 20px;
	display: block;
	position: relative;
	top: -26px;
	left: 40px;
	width : fit-content;
}

.phone{
	    color: #009900;
	    font-family: 'Malgun Gothic',dotum,'돋움',sans-serif;
	    font-size: 12px;
	    position: relative;
	    top: -30px;
	    left: 40px;
	    width : fit-content;
}

.placeName{
	font-weight: bold;
	font-family: 'Malgun Gothic',dotum,'돋움',sans-serif;
	font-size: 14px;
	position: relative;
	top: -32px;
	left: 40px;
	width: 240px;
}

.SearchItem{
	margin-top : 10px;
	height: 60px;
	padding-left: 11px;
}

div[class*=SearchResult]::-webkit-scrollbar{
	width : 13px;
}

div[class*=SearchResult]::-webkit-scrollbar-thumb{
	width : 5px;
	border-radius : 20px;
	background-color : rgb(200,230,200);
	  background-clip: padding-box;
    border: 3px solid transparent;
}

div[class*=SearchResult]::-webkit-scrollbar-track{
	width : 10px;
	border-radius : 10px;
}

.PlusSVG{
	    position: relative;
    top: -75px;
    left: 280px;
}

.HotelselectSVG, .FoodselectSVG, .ActivityselectSVG{
	position : relative;
	top : -75px;
	left : 280px;
}

.HotelselectSVGInBody, .FoodselectSVGInBody, .ActivityselectSVGInBody{
	position : relative;
	top: -45px;
	left: 230px;
}