body{
	overflow-x : hidden;
}

#head{
	background : white;
}


#menu a{
	color: black;
}


footer{
	top : 100vh;
	left : 0px;
	height : 38vh !important;
}


#main{
	margin : 0px;
	width : 100vw;
	position : absolute;
	top : 65px;
}

#Header{
	position : absolute;
	top : 5vh;
	left : 50vw;
	width : 50vw;
	height : 2vh;
	display : flex;
	justify-content : space-evenly;
}
