#header{
	z-index : 1000;
	position : fixed;
	top : 0px;
	width : 100vw;
	left : 0px;
	/*justify-content: space-between;
	backdrop-filter : blur(5px);
	backgroud-color : rgba(0,0,0,0.08); */
}

#logo{
	width : 27vw;
	height : 90px;
}

#logo>a{
	position : absolute;
	top : -7px;
	left : 40px;
	display:flex;
	text-decoration : none;
	color : black;
}

#logo>a>h2{
	font-size : 70px;
	margin : 0px;
}

#logo>a>p{
	margin-top : 60px;
}



#header>#menus{
	margin : 0px;
	
	position : absolute;
	right : 40px;
	height : 90px;
	
	top : 0px;
	list-style : none;
	
	width : auto;
	
}

#header>#menus>li{
	display : flex;
	
	align-items: center;
	justify-content: center;
		float : left;
	width : 100px;
	height : 100%;
}


#header>#menus>li>a{
	text-decoration : none;
 	color : white;
 	
 	font-weight: bold;
}

#header>#menus>li:hover{
	background-color : rgba(0,0,0,0.25);
}

#header>#menus>li>a:hover{
	text-decoration : underline;
	color : #5882FA !important;
}

#HeaderprofileDiv{
		width : 55px;
	height : 55px;
	border-radius : 100%;
	background-color : white;
}

#Headerprofile{
	
	
	position : relative;
	left : 2.5px;
	top : 2.5px;
	width : 50px;
	height : 50px;
	object-fit : cover;
	border-radius : 100%;
	background-color : black;
}


#UserMenu{
	position : relative;
	top : 76px;
	right : 0px;
	
	    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
	display : none;
	position : absolute;
	background-color : white;
	width : 175px;
	height : 80px;
	border-radius : 12px;
	justify-content : center;
	flex-wrap : wrap;
}

#UserMenu>a{
	margin-top : 7px;
	display : flex;
	align-items : center;
	width : 100px;
	height : 27px;
	color : black;
	text-decoration : none;
	font-size : 13px;
	z-index : 2;
}

#UserMenu>a:hover{
	background-color : #dee2e6;
}

#HeaderCover{
	position : fixed;
	top : 0px;
	left : 0px;
	width : 100vw;
	height : 100vh;
	display : none;
	
	z-index : 1
}

